<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Model Demo</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <header>
        <h1>Score Predictor</h1>
    </header>
    <main>
        <div class="container">
            <h2>Predict the Score</h2>
            <form action="/predict" method="post" id="prediction-form">
                <div class="form-group">
                    <label for="batting_team">Batting Team:</label>
                    <select id="batting_team" name="batting_team">
                        <option value="Chennai Super Kings">Chennai Super Kings</option>
                        <option value="Chennai Super Kings">Sunrisers Hyderabad</option>
                        <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
                        <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
                        <option value="Mumbai Indians">Mumbai Indians</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="bowling_team">Bowling Team:</label>
                    <select id="bowling_team" name="bowling_team">
                        <option value="Chennai Super Kings">Chennai Super Kings</option>
                        <option value="Kolkata Knight Riders">Kolkata Knight Riders</option>
                        <option value="Chennai Super Kings">Sunrisers Hyderabad</option>
                        <option value="Royal Challengers Bangalore">Royal Challengers Bangalore</option>
                        <option value="Mumbai Indians">Mumbai Indians</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="overs">Overs:</label>
                    <input type="number" id="overs" name="overs" step="0.1" required>
                </div>
                <div class="form-group">
                    <label for="runs">Runs:</label>
                    <input type="number" id="runs" name="runs" required>
                </div>
                <div class="form-group">
                    <label for="wickets">Wickets:</label>
                    <input type="number" id="wickets" name="wickets" required>
                </div>
                <div class="form-group">
                    <label for="runs_last_5">Runs in Last 5 Overs:</label>
                    <input type="number" id="runs_last_5" name="runs_last_5" required>
                </div>
                <div class="form-group">
                    <label for="wickets_last_5">Wickets in Last 5 Overs:</label>
                    <input type="number" id="wickets_last_5" name="wickets_last_5" required>
                </div>
                <div class="form-group">
                    <button type="submit">Predict Score</button>
                </div>
            </form>
            <div id="result">
                <!-- Display the prediction result here -->
            </div>
        </div>
    </main>
    <!-- <script src="script.js"></script> -->
</body>

</html>